{% extends 'base.html.twig' %}
{% block title %}Balance - Moolah{% endblock %}

{% block body %}
<div class="container">
  <div class="row mt-4">
    <div class="col-12">
      <h2 class="mt-0 mb-4 text-info">Balance</h2>
    </div>
  </div>

  <div class="row mt-4">
    {% for b in balance %}
    <div class="col-12 col-md-3">
        <div class="card mb-2">
            <div class="card-body">
                <p class="card-text">Who : {{ b.person.displayName }}</p>
                <p class="card-text">Balance: <span class="{% if b.balance < 0 %}text-danger{% else %}text-success{% endif %}">{{ b.balance|number_format(2, '.', ',') }}€</span></p>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h2 class="mt-0 mb-4 text-info">Debts</h2>
    </div>
  </div>

  {% if transactions is empty %}
    <p>Aucune dette à régler.</p>
{% else %}
    <ul>
    {% for transaction in transactions %}
        <li>
            {{ transaction.from.displayName }} doit payer {{ transaction.amount|number_format(2, '.', ',') }} € à {{ transaction.to.displayName }}
        </li>
    {% endfor %}
    </ul>
{% endif %}
</div>
{% endblock %}