<div class="card mb-2 {{ bill.billType == 1 ? 'bg-light' :'bg-info' }}">
    <div class="card-body">
        {{ bill.name }}
        <br />
        Paid by {{ bill.payer }}
        <br />
        Participants :
        <ul>
            {% for participant in bill.participants %}
            <li>{{ participant.firstname }}</li>
            {% endfor %}
        </ul>
        {{ bill.content }}
    </div>
</div>